trigger:
  branches:
    include:
      - main

schedules:
  - cron: "0/10 17-20 * * *"  # Проверка каждые 15 минут с 18:00 до 23:45 по Минску (GMT+3)
    displayName: "Evening Stream Check"
    branches:
      include:
        - main
    always: true

variables:
  - group: twitch_bot_secrets

pool:
  vmImage: 'ubuntu-latest'

steps:
  - checkout: self

  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.9'

  - script: |
      pip install -r requirements.txt
    displayName: 'Install dependencies'

  - script: |
      PIP_CACHE=$(python -c "import site; print(site.getuserbase())")/pip
      echo "##vso[task.setvariable variable=PIP_CACHE_DIR]$PIP_CACHE"
      mkdir -p "$PIP_CACHE"
    displayName: 'Prepare pip cache directory'

  - task: Cache@2
    inputs:
      key: 'pip | "$(Agent.OS)" | requirements.txt'
      restoreKeys: |
        pip | "$(Agent.OS)"
      path: $(PIP_CACHE_DIR)
    displayName: 'Cache pip dependencies'

  - script: |
      PYTHONPATH=src python src/main.py
    displayName: 'Run Twitch Notifier'
    env:
      TWITCH_CLIENT_ID: $(TWITCH_CLIENT_ID)
      TWITCH_CLIENT_SECRET: $(TWITCH_CLIENT_SECRET)
      TELEGRAM_BOT_TOKEN: $(TELEGRAM_BOT_TOKEN)
      TELEGRAM_CHANNEL_ID: $(TELEGRAM_CHANNEL_ID)

